body {
	margin: 0;
	padding: 0.5rem;
	background: #777;
}

* {
	box-sizing: border-box;
}

#main {
	display: flex;
	gap: 50px;
	flex-wrap: wrap;
}

#bar {
	display: flex;
	gap: 2px;
	flex-wrap: wrap;
}

#board {
	display: flex;
	flex-wrap: wrap;
	gap: 2px;
}

.column {
	display: flex;
	flex-direction: column;
	gap: 2px;
}

.pixel {
	height: 15px;
	width: 15px;
	border: 1px solid black;
}